.pomoc{
    margin-left: -40px;
}

td, th {
    border: 1px solid black;
}

td:first-child{
    text-align: center;
    width: 80px;
}

.tabelka thead{
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.tabelka{
    margin-left: -30px;
    font-size: 12px;
    margin-right: 10px;
}

kdb{
    background-color:grey;
    display: inline-block;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: .25em;
}

.tree{
    --spacing : 1.5rem;
    --radius  : 10px;
    line-height : 0.6cm;
    text-align:justify;
    font-family: Serif;
    color:black;
    font-size: 14px;
}

.tree li{
    display: block;
    position: relative;
    padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
    margin-right: 10px;
}

.tree ul{
    margin-left  : calc(var(--radius) - var(--spacing));
    padding-left : 0;
}

.tree ul li{
    border-left : 2px solid #ddd;
}

.tree ul li:last-child{
    border-color : transparent;
}

.tree ul li::before{
    content      : '';
    display      : block;
    position     : absolute;
    top          : calc(var(--spacing) / -2);
    left         : -2px;
    width        : calc(var(--spacing) + 2px);
    height       : calc(var(--spacing) + 1px);
    border       : solid #ddd;
    border-width : 0 0 2px 2px;
}

.tree summary{
    display : block;
    cursor  : pointer;
}

.tree summary:focus{
    outline : none;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
    display : none;
}

.tree summary:focus-visible{
    outline : 1px dotted #000;
}

.tree li::after,
.tree summary::before{
    content       : '';
    display       : block;
    position      : absolute;
    top           : calc(var(--spacing) / 2 - var(--radius));
    left          : calc(var(--spacing) - var(--radius) - 1px);
    width         : calc(2 * var(--radius));
    height        : calc(2 * var(--radius));
    border-radius : 50%;
    background    : #ddd;
}

.tree summary::before{
    content     : '+';
    z-index     : 1;
    background  : grey;
    color       : #fff;
    line-height : calc(2 * var(--radius) - 2px);
    text-align  : center;
}

.tree details[open] > summary::marker{
    display: block;
    content: "";
}

.tree details[open] > summary::before{
    content : '−';
}